/* EXERCISE ONE */
.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color:red;
}

/* EXERCISE TWO */
.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 650px;
}

/* EXERCISE THREE */

.ex-3-square {
    transition: 0.5s;
}

.ex-3-square:hover {
    border-radius:50%
}